{% extends "AppClan/padre.html" %}


{% load static %}

        {% block contenido2 %}
            <h1 class="mb-1">Comentarios</h1>
        {% endblock %}


        {% block contenido %}


            <h1>Este es el espacio para los comentarios!</h1>

            <p>Por ahora no podés visualizar los comentarios realizados pero podés cargar alguno!
            <br>
            Hacé clic <a href = 'comentarioFormulario'> acá </a> para dejar un comentario! </p>

         

        {% endblock %}
