{% extends "AppClan/padre.html" %}

{% load static %}

        {% block contenido2 %}

            <h1 class="mb-1">Integrantes</h1>

        {% endblock %}

        {% block contenido %}

        <div align = "center">

            <h1>¡Esta es la página de los integrantes del clan!</h1>
            <br>
            <p>Por ahora no podés visualizar a los integrantes pero podés cargar alguno haciendo clic <a href = 'integranteFormulario'> acá </a>. </p>
           
            <p>O podés buscar alguno por apellido haciendo clic <a href = 'busquedaIntegrante'> acá </a>. </p>

        </div>

        {% endblock %}
