{% extends "AppClan/padre.html" %}


{% load static %}

        {% block contenido2 %}
            <h1 class="mb-1">Integrantes</h1>
        {% endblock %}


        {% block contenido %}

        <div align = "center">

            <h1>Esta es la página de los integrantes del clan!</h1>

            <p>Por ahora no podés visualizar los integrantes pero podés cargar alguno!
            <br>
            Hacé clic <a href = 'integranteFormulario'> acá </a> para cargar un integrante! </p>

        </div>

        {% endblock %}
