{% extends "AppClan/padre.html" %}


{% load static %}

        {% block contenido2 %}
            <h1 class="mb-1">Búsqueda de integrante</h1>
        {% endblock %}


        {% block contenido %}

            {% if nombres %}

                <h2>Hemos encontrado los siguientes nombres para el apellido '{{nombres.0.apellido}}':</h2>
                <br>

                <ul>
                {% for nombre in nombres %}

                <h5>- {{nombre.nombre}}</h5>

                {% endfor %}
                </ul>

            {% else %}
       
                <h2>Lo sentimos  :( <br>No hemos encontrado coincidencias en nuestra base de datos para el apellido buscado.</h2>
                <p>¿Querés hacer otra búsqueda? Clic <a href = 'busquedaIntegrante'> acá </a>.</p>

            {% endif %}
         

        {% endblock %}