{% extends "AppClan/padre.html" %}

{% load static %}

        {% block contenido2 %}

            <h1 class="mb-1">Vehículos</h1>

        {% endblock %}

        {% block contenido %}

        <div align = "center">

            <h1>¡Este es el espacio de los vehículos del clan!</h1>
            <br>
            <p>Por ahora no podés visualizar los vehículos pero podés registrar alguno haciendo clic <a href = 'vehiculoFormulario'> acá. </a> </p>

            <p>O podés buscar alguno por marca haciendo clic <a href = 'busquedaVehiculo'> acá </a>. </p>

        </div>

        {% endblock %}
