{% extends "AppClan/padre.html" %}


{% load static %}

        {% block contenido2 %}
            <h1 class="mb-1">Vehículos</h1>
        {% endblock %}


        {% block contenido %}

        <div align = "center">

            <h1>Este es el espacio de los vehículos del clan!</h1>

            <p>Por ahora no podés visualizar los vehículos pero podés cargar alguno!
            <br>
            Hacé clic <a href = 'vehiculoFormulario'> acá </a> para cargar un vehículo! </p>

        </div>

        {% endblock %}
